
<!-- This page is only accessible by admin -->
{% extends "base.html" %}
{% block content %}
<section>
    <div class="w-100 background">
        <div class="overlay py-5">
            <div class="container d-flex flex-column justify-content-center align-items-center">
                <!-- flash messages -->
                {% with messages = get_flashed_messages(with_categories=True) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                                <h4>{{ message }}</h4>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                
                <h3>Manage Categories</h3>
                <div class="row my-5">
                    <a href="{{ url_for('add_category') }}" role="button" class="btn btn-lg btn-primary"><i class="fas fa-plus-square"></i> Add Category</a>
                </div>
                <div class="row g-5">
                    {% for category in categories %}
                        <div class="col-12 col-s-6 col-md-4 col-lg-3">
                            <div class="card">
                                <div class="card-body">
                                <h5 class="card-title text-center my-4">{{ category.category_name }}</h5>
                                    <div class="mb-4 mx-3 d-flex justify-content-center">
                                        <button type="button" class="btn btn-secondary btn-sm me-2">Edit</button>
                                        <button type="button" class="btn btn-secondary btn-sm">Delete</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}