{% extends "base.html" %}

{% block styles %}
    <!-- Title -->
    <title>Cookle - Change Password</title>
{% endblock %}

{% block content %}
<section>
    <div class="w-100 background">
        <div class="overlay py-5">
            <div class="container d-flex flex-column justify-content-center align-items-center">
                    <!-- flash messages -->

                    {% with messages = get_flashed_messages(with_categories=True) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                                    <h4>{{ message }}</h4>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}

                <h3 class="my-5"><i class="fas fa-key"></i> Change Password</h3>     
                <div class="card p-2 p-md-5 form-width">                 
                    <form method="POST" action="{{ url_for('change_password', user_id=user._id) }}">
                        <!-- Password input -->
                        <div class="form-outline mb-4">
                            <input type="password" id="password" name="password" class="form-control" 
                                minlength="5" maxlength="16" pattern="^[a-zA-Z0-9]{5,15}$" 
                                title="Password's length must be 5 to 16 characters." required>
                            <label class="form-label" for="password">Password</label>
                        </div>
                        <!-- Repeat Password input -->
                        <div class="form-outline">
                            <input type="password" id="repeat-password" name="repeat-password" 
                                class="form-control" required>
                            <label class="form-label" for="repeat-password">Repeat password</label>
                        </div>
                        <div id="valid-message" class="mb-4"></div>
                        <!-- Submit button & Log In link-->
                        <div class="text-center">
                            <a href="{{ url_for('profile', username=session['user']) }}" role="button" 
                                class="btn btn-sm btn-secondary my-3 me-sm-2 me-md-5">
                                <i class="fas fa-window-close"></i> Cancel
                            </a>
                            <button type="submit" class="btn btn-sm btn-primary my-3 submit-btn">
                                <i class="fas fa-edit"></i> Change
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}