{% extends "base.html" %}
{% block content %}

<section>
    <div class="w-100 background">
        <div class="overlay">
            <div class="container">
                <!-- flash messages -->

                {% with messages = get_flashed_messages(with_categories=True) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                                <h4>{{ message }}</h4>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                <h2 class="py-5 text-center">My Cookbook</h2>
                
                <!-- Pills navs -->
                <ul class="nav nav-pills nav-justified mb-3 d-flex" id="cookbook-pills" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="all-rec" data-mdb-toggle="pill" href="#all-pills" 
                            role="tab" aria-controls="all-pills" aria-selected="true">
                            All <br/>
                            Recipes
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="upload-rec" data-mdb-toggle="pill" href="#upload-pills" 
                            role="tab" aria-controls="upload-pills" aria-selected="false">
                            Uploaded <br/>
                            Recipes
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="saved-rec" data-mdb-toggle="pill" href="#saved-pills" 
                            role="tab" aria-controls="saved-pills" aria-selected="false">
                            Saved <br/> 
                            Recipes
                        </a>
                    </li>
                </ul>
                
                <!-- Pills content -->
                <div class="tab-content" id="cookbook-content">
                    <div class="tab-pane fade" id="all-pills" role="tabpanel" aria-labelledby="all-rec">
                        <!-- Content for All Recipes -->
                        <div class="row py-5 g-4">
                            {% for recipe in all_recipes %}
                                <div class="div col-6 col-md-4 col-lg-3">
                                    <div class="card shadow-2-strong h-100">
                                        <div class="bg-image hover-overlay ripple card-image" data-mdb-ripple-color="light">
                                            <img src="{{ recipe.recipe_image }}" alt="{{ recipe.recipe_name }}"  
                                                onerror="this.src='../../static/images/dish-placeholder.png';" class="card-img-top">
                                            <a href="{{ url_for('get_single_recipe', recipe_id=recipe._id) }}">
                                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                                            </a>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title py-2">{{ recipe.recipe_name }}</h5>
                                            <p class="card-text">
                                                <i class="far fa-thumbs-up"></i> {{ recipe.total_likes }}<br>
                                                by: {{ recipe.username }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <!-- Pagination -->
                        <div class="d-flex justify-content-center pagination-nav py-4">
                            {{ all_pagination.links }}
                        </div>
                    </div>
                    <!-- Content for Uploaded Recipes -->
                    <div class="tab-pane fade" id="upload-pills" role="tabpanel" aria-labelledby="upload-rec">
                        <div class="row py-5 g-4">
                            {% for recipe in uploaded_recipes %}
                                <div class="div col-6 col-md-4 col-lg-3">
                                    <div class="card shadow-2-strong h-100">
                                        <div class="bg-image hover-overlay ripple card-image" 
                                            data-mdb-ripple-color="light">
                                            <img src="{{ recipe.recipe_image }}" alt="{{ recipe.recipe_name }}" 
                                                onerror="this.src='../../static/images/dish-placeholder.png';" class="card-img-top">
                                            <a href="{{ url_for('get_single_recipe', recipe_id=recipe._id) }}">
                                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                                            </a>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title py-2">{{ recipe.recipe_name }}</h5>
                                            <p class="card-text">
                                                <i class="far fa-thumbs-up"></i> {{ recipe.total_likes }}<br>
                                                by: {{ recipe.username }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <!-- Pagination -->
                        <div class="d-flex justify-content-center pagination-nav py-4">
                            {{ uploaded_pagination.links }}
                        </div>
                    </div>
                    <!-- Content for Saved Recipes -->
                    <div class="tab-pane fade" id="saved-pills" role="tabpanel" aria-labelledby="saved-rec">
                        <div class="row py-5 g-4">
                            {% for recipe in saved_recipes %}
                                <div class="div col-6 col-md-4 col-lg-3">
                                    <div class="card shadow-2-strong h-100">
                                        <div class="bg-image hover-overlay ripple card-image" data-mdb-ripple-color="light">
                                            <img src="{{ recipe.recipe_image }}" alt="{{ recipe.recipe_name }}" 
                                                onerror="this.src='../../static/images/dish-placeholder.png';" class="card-img-top">
                                            <a href="{{ url_for('get_single_recipe', recipe_id=recipe._id) }}">
                                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                                            </a>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title py-2">{{ recipe.recipe_name }}</h5>
                                            <p class="card-text">
                                                <i class="far fa-thumbs-up"></i> {{ recipe.total_likes }}<br>
                                                by: {{ recipe.username }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                        <!-- Pagination -->
                        <div class="d-flex justify-content-center pagination-nav py-4">
                            {{ saved_pagination.links }}
                        </div>
                    </div>
                    </div>
                </div>

                <!-- Create Recipe Button & Explore Recipes Button -->
                <div class="row d-flex justify-content-center pb-5">
                    <div class="col-10 col-sm-8 col-lg-6">
                        <div class="d-flex justify-content-evenly mb-5">
                            <a role="button" class="btn btn-lg btn-rec-primary me-3" 
                                href="{{ url_for('add_recipe') }}">
                                <i class="fas fa-folder-plus"></i> 
                                Create Recipe
                            </a>
                            <a role="button" class="btn btn-lg btn-rec-primary" 
                                href="{{ url_for('get_recipes') }}">
                                <i class="fas fa-search"></i> 
                                Explore Recipes
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}