{% extends "base.html" %}
{% block content %}
<section>
    <div class="w-100 background">
        <div class="overlay py-5">
            <div class="container d-flex flex-column justify-content-center align-items-center">
                    <!-- flash messages -->

                    {% with messages = get_flashed_messages(with_categories=True) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                                    <h4>{{ message }}</h4>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}


                <div class="card p-2 p-md-5 form-width">                 
                    <form method="POST" action="{{ url_for('edit_profile', user_id=user._id) }}" id="form-register">
                        <!-- Username input -->
                        <div class="form-outline mb-4">
                            <input type="text" id="username" name="username" class="form-control" minlength="4" 
                            maxlength="20" value="{{ user.username }}" required>
                            <label class="form-label" for="username">Username</label>
                        </div>
                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <input type="email" id="email" name="email" class="form-control" value="{{ user.email }}" required>
                            <label class="form-label" for="email">Email</label>
                        </div>
                        <!-- About input -->
                        <div class="form-outline mb-4">
                            <textarea class="form-control" id="about" name="about" rows="4">{{ user.about }}</textarea>
                            <label class="form-label" for="about">About you and your love for cooking</label>
                        </div>
                        <!-- Upload image/ profile picture -->
                        <div class="form-outline mb-4">
                            <input type="text" id="image-url" name="profile-url" class="form-control" value="{{ user.user_image }}">
                            <label class="form-label" for="profile-url">Paste here the image url</label>
                        </div>
                        <!-- Rendering image from url -->
                        <div class="mb-4 text-center">
                            <img class="show-image" src="{{ user.user_image }}" onerror="this.src='../../static/images/user.png';" width="300">
                        </div>
                        <!-- Submit button & Log In link-->
                        <div class="text-center">
                            <a href="{{ url_for('profile', username=session['user']) }}" role="button" class="btn btn-primary my-3"><i class="fas fa-window-close"></i> Cancel</a>
                            <button type="submit" class="btn btn-primary my-3 submit-btn">Edit Profile</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}