<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cookle Cookbook</title>
</head>
<body>
    <h1>Hello world</h1>

    {% for recipe in recipes %}
        {{ recipe.recipe_name }}<br>
        {{ recipe.username }}<br>
        {{ recipe.category_name }}<br>
        {{ recipe.serving }}<br>
        {{ recipe.time }}<br>
        {{ recipe.total_likes }}<br>
        {{ recipe.description }}<br>
        {{ recipe.ingredients }}<br>
        {{ recipe.directions }}<br>
    {% endfor %}


</body>
</html>