{% extends "base.html" %}
{% block content %}
<section>
    <div class="w-100 background">
        <div class="overlay py-5">
            <div class="container">
                    <!-- flash messages -->

                    {% with messages = get_flashed_messages(with_categories=True) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                                    <h4>{{ message }}</h4>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}


                <div class="card p-2 p-md-5 text-center card-login">
                    
                    <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="tab-register" data-mdb-toggle="pill" href="#pills-register"
                                role="tab" aria-controls="pills-register" aria-selected="false">
                                Register
                            </a>
                        </li>
                        <!-- Pills navs 
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="tab-login" data-mdb-toggle="pill" href="#pills-login" 
                                role="tab" aria-controls="pills-login" aria-selected="false">
                                Login
                            </a>
                        </li>
                        -->
                    </ul>
                     
                    
                    <!-- Pills content -->
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="pills-register" role="tabpanel" aria-labelledby="tab-register">
                            <form method="POST" action="{{ url_for('register') }}">
                                <!-- Name input -->
                                <div class="form-outline mb-4">
                                    <input type="text" id="name" name="name" class="form-control" />
                                    <label class="form-label" for="name">Name</label>
                                </div>
                                <!-- Username input -->
                                <div class="form-outline mb-4">
                                    <input type="text" id="username" name="username" class="form-control" />
                                    <label class="form-label" for="username">Username</label>
                                </div>
                                <!-- Email input -->
                                <div class="form-outline mb-4">
                                    <input type="email" id="email" name="email" class="form-control" />
                                    <label class="form-label" for="email">Email</label>
                                </div>
                                <!-- Password input -->
                                <div class="form-outline mb-4">
                                    <input type="password" id="password" name="password" class="form-control" />
                                    <label class="form-label" for="password">Password</label>
                                </div>
                                <!-- Repeat Password input -->
                                <div class="form-outline mb-4">
                                    <input type="password" id="repeatpassword" name="repeatpassword" class="form-control" />
                                    <label class="form-label" for="repeatpassword">Repeat password</label>
                                </div>
                                <!-- About input -->
                                <div class="form-outline mb-4">
                                    <textarea class="form-control" id="about" name="about" rows="4"></textarea>
                                    <label class="form-label" for="about">About you and your love for cooking</label>
                                </div>
                                <!-- Submit button -->
                                <button type="submit" class="btn btn-primary my-3">Sign Up</button>
                                <!-- Login buttons -->
                                <div class="text-center">
                                    <p>Already a member? <a href="#!">Log In</a></p>
                                </div>
                            </form>
                        </div>

                        <!--

                        <div class="tab-pane fade" id="pills-login" role="tabpanel"
                            aria-labelledby="tab-login">
                            <form>
                                 Username input
                                <div class="form-outline mb-4">
                                    <input type="email" id="loginName" class="form-control"/>
                                    <label class="form-label" for="loginName">Username</label>
                                </div>
                                 Password input 
                                <div class="form-outline mb-4">
                                    <input type="password" id="loginPassword" class="form-control"/>
                                    <label class="form-label" for="loginPassword">Password</label>
                                </div>
                                 Submit button 
                                <button type="submit" class="btn btn-primary my-4">Log In</button>
                                 Login buttons 
                                <div class="text-center">
                                    <p>Not a member? <a href="#!">Sign Up</a></p>
                                </div>
                            </form>
                        </div>

                        -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}