{% extends "base.html" %}

{% block styles %}
    <!-- Meta tags for social media sharing 
         ref: https://css-tricks.com/essential-meta-tags-social-media/-->
    <meta property="og:title" content="{{ recipe.recipe_name }}">
    <meta property="og:description" content="{{ recipe.description }}">
    <meta property="og:image" content="{{ recipe.recipe_image }}">
    <meta property="og:url" content="https://cookle-cookbook.herokuapp.com/recipe/{{ recipe._id }}">
    <meta property="og:site_name" content="Cookle">
    <meta name="twitter:card" content="awesome_recipe">
{% endblock %}

{% block content %}
<section>
    <div class="w-100 background">
        <div class="overlay py-5">
            <div class="container">

                <!-- flash messages -->
                {% with messages = get_flashed_messages(with_categories=True) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                                <h4>{{ message }}</h4>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                <!-- Recipe's Title & Buttons -->
                <div class="text-center my-5">
                    <h3>{{ recipe.recipe_name }}</h3>
                    <p>by: {{ recipe.username }}</p>
                </div>
                <div class="d-flex justify-content-end">
                    <!-- Share to social media button, using sharer.js 
                         Ref: https://ellisonleao.github.io/sharer.js/ -->
                    <button type="button" class="btn btn-sm btn-rec-secondary me-1 me-sm-2 dropdown-toggle" 
                        id="shareDropdown" data-mdb-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-share-alt"></i> Share
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="shareDropdown">
                        <li>
                            <a class="nav-link dropdown-item" role="button" data-sharer="whatsapp" 
                                data-title="Checkout this awesome recipe!" 
                                data-url="https://cookle-cookbook.herokuapp.com/recipe/{{ recipe._id }}">
                                <i class="fab fa-whatsapp text-success"></i> 
                                Share to Whatsapp
                            </a>
                        </li>
                        <li>
                            <a class="nav-link dropdown-item" role="button" data-sharer="facebook" 
                                data-hashtag="AwesomeRecipe" 
                                data-url="https://cookle-cookbook.herokuapp.com/recipe/{{ recipe._id }}">
                                <i class="fab fa-facebook-square text-primary"></i> 
                                Share to Facebook
                            </a>
                        </li>
                        <li>
                            <a class="nav-link dropdown-item" role="button" data-sharer="twitter" 
                                data-title="Checkout this awesome recipe!" data-hashtags="AwesomeRecipe" 
                                data-url="https://cookle-cookbook.herokuapp.com/recipe/{{ recipe._id }}">
                                <i class="fab fa-twitter text-info"></i> 
                                Share to Twitter
                            </a>
                        </li>
                        <li>
                            <a class="nav-link dropdown-item" role="button" data-sharer="pinterest" 
                                data-url="https://cookle-cookbook.herokuapp.com/recipe/{{ recipe._id }}">
                                <i class="fab fa-pinterest text-danger"></i> 
                                Share to Pinterest
                            </a>
                        </li>
                    </ul>
                    <!-- Print button-->
                    <button type="button" class="btn btn-sm btn-rec-secondary me-1 me-sm-2" onClick="window.print()">
                        <i class="fas fa-print"></i> Print
                    </button>
                    <!-- Edit and Delete buttons only available to user own recipe and to admin-->
                    {% if session.user|lower == recipe.username|lower or session.user|lower == "admin"|lower %}
                        <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" role="button" 
                            class="btn btn-sm btn-rec-secondary me-1 me-sm-2">
                            <i class="fas fa-edit"></i> Edit
                        </a>
                        <a data-mdb-toggle="modal" data-mdb-target="#modalDeleteRecipe" role="button" 
                            class="btn btn-sm btn-rec-secondary me-1 me-sm-2">
                            <i class="fas fa-trash-alt"></i> Delete
                        </a>
                    {% endif %}
                </div>

                <!-- Modal confirmation before deleting your recipe -->
                <div class="modal fade" id="modalDeleteRecipe" data-mdb-backdrop="static" data-mdb-keyboard="false" 
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content bg-green">
                            <button type="button" class="btn-close btn-close-white" data-mdb-dismiss="modal" aria-label="Close"></button>
                            <div class="modal-header text-white d-flex flex-column justify-content-center align-items-center">
                                <i class="fas fa-trash-alt fa-5x py-3"></i>
                                <h4 class="modal-title text-center" id="staticBackdropLabel">
                                    Are you sure you want to delete this recipe?
                                </h4>
                            </div>
                            <div class="modal-body text-center">
                                Please note that deleting this recipe also means deleting it from other users' cookbooks as well.
                            </div>
                            <div class="modal-footer d-flex justify-content-center">
                                <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
                                    <i class="far fa-window-close"></i> Cancel
                                </button>
                                <a class="btn btn-secondary" href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}">
                                    <i class="fas fa-trash-alt"></i> Yes, Delete
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Modal -->

                <!-- Recipe's Data -->
                <div class="row mt-5">
                    <div class="col-12 col-lg-4 d-flex flex-column align-items-center">
                        <div class="square-image flex-fill text-center">
                            <img src="{{ recipe.recipe_image }}" class="img-fluid" alt="{{ recipe.recipe_name }}" 
                                onerror="this.src='../../static/images/dish-placeholder.png';">
                        </div>
                        <div class="row mt-3 pt-3 mx-3 mx-sm-5 mx-lg-0 bg-white recipe-stat">
                            <div class="col-6">
                                <p><i class="fas fa-users"></i> {{ recipe.serving }} person</p>
                                <p><i class="fas fa-clock"></i> {{ recipe.time }} min</p>
                            </div>
                            <div class="col-6">
                                <p><i class="fas fa-tag"></i> {{ recipe.category_name }}</p>
                                <p><i class="fas fa-thumbs-up"></i> {{ recipe.total_likes }}</p>
                            </div>
                        </div>
                        <div class="row d-flex flex-column mt-2 px-5 pb-5 btn-action-recipe">
                            <!-- Save Recipe button -->
                            {% if session.user|lower == recipe.username|lower or saved_recipe %}
                                <a role="button" data-mdb-toggle="modal" data-mdb-target="#modalRemoveRecipe" 
                                    class="btn btn-rec-secondary my-2" id="btn-save-recipe">
                                    <i class="fas fa-check"></i> Saved to Cookbook
                                </a>
                            {% else %}
                                <a role="button" href="{{ url_for('save_to_cookbook', recipe_id=recipe._id) }}" 
                                    class="btn btn-rec-secondary my-2" id="btn-save-recipe">
                                    <i class="fas fa-plus"></i> Save This Recipe
                                </a>
                            {% endif %}
                            <!-- Like Recipe button -->
                            {% if liked_recipe %}
                                <a role="button" href="{{ url_for('like_recipe', recipe_id=recipe._id) }}" 
                                    class="btn btn-rec-secondary my-2">
                                    <i class="fas fa-thumbs-up"></i> Liked
                                </a> 
                            {% else %}
                                <a role="button" href="{{ url_for('like_recipe', recipe_id=recipe._id) }}" 
                                    class="btn btn-rec-secondary my-2">
                                    <i class="far fa-thumbs-up"></i> Like this recipe
                                </a> 
                            {% endif %}
                        </div>
                    </div>

                    <!-- Modal confirmation before removing recipe from cookbook-->
                    <div class="modal fade" id="modalRemoveRecipe" data-mdb-backdrop="static" data-mdb-keyboard="false" 
                        tabindex="-1" aria-labelledby="modalRemoveRecipeLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content bg-green">
                                <button type="button" class="btn-close btn-close-white" data-mdb-dismiss="modal" aria-label="Close"></button>
                                <div class="modal-header text-white d-flex flex-column justify-content-center align-items-center">
                                    <i class="fas fa-book-open fa-5x py-3"></i>
                                    <h4 class="modal-title text-center" id="modalRemoveRecipeLabel">
                                        Do you want to remove this recipe from your cookbook?
                                    </h4>
                                </div>
                                <div class="modal-footer d-flex justify-content-center">
                                    <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
                                        <i class="far fa-window-close"></i> Cancel
                                    </button>
                                    <a class="btn btn-secondary" href="{{ url_for('save_to_cookbook', recipe_id=recipe._id) }}">
                                        <i class="fas fa-trash-alt"></i> Yes, Remove
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End of Modal -->
                    
                    <!-- Recipe Description, Ingredients, and Direction -->
                    <div class="col-12 col-lg-8">
                        <div class="ms-lg-4 p-3 p-md-4 bg-overlay">
                            <p>{{ recipe.description }}</p>
                        </div>
                        <div class="mt-4 ms-lg-4 p-3 p-md-4 bg-overlay">
                            <h4 class="mb-2">Ingredients: </h4>
                            {% for ingredient in recipe.ingredients %}
                                <div>
                                    <input class="form-check-input" type="checkbox" aria-label="ingredient" id="checkbox">
                                    <label class="form-check-label d-inline">{{ ingredient }}</label>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="mt-4 ms-lg-4 p-3 p-md-4 bg-overlay">
                            <h4 class="mb-2">Directions: </h4>
                            {% for direction in recipe.directions %}
                                <div>
                                    <input class="form-check-input" type="checkbox" aria-label="direction">
                                    <label class="form-check-label d-inline">{{ direction }}</label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <!-- Reviews section-->
                <div class="bg-white my-5 p-3 p-md-5" id="reviews-section">
                    <div class="d-flex justify-content-start align-items-baseline mb-3">
                        <h4 class="me-2 me-sm-3">
                            Reviews ({{ recipe.total_reviews }})
                        </h4>
                    <!-- Write a review button -->
                    {% if session.user %}
                        <a role="button" class="btn btn-rec-secondary btn-sm" id="btn-review">
                            <i class="far fa-comment-dots"></i> Write a review
                        </a>
                    {% endif %}
                    </div>
                    <!-- Write a new review form (only displayed when the users click the button to write a review) -->
                    <div id="write-review" class="d-none">
                        <form class="row g-3" method="POST" action="{{ url_for('write_review', recipe_id=recipe._id) }}">  
                            <div class="col-12">
                                <textarea class="form-control" id="write_review" name="write_review" rows="4" 
                                    minlength="5" maxlength="500" placeholder="Write your review here... " required></textarea>
                            </div>
                            <!-- Buttons -->
                            <div class="d-flex align-items-center justify-content-end my-2">
                                <a href="{{ url_for('get_single_recipe', recipe_id=recipe._id) }}" role="button" 
                                    class="btn btn-rec-secondary btn-rounded btn-sm me-2">
                                    Cancel
                                </a>
                                <button type="submit" class="btn btn-rec-primary btn-rounded btn-sm">
                                    Submit Review
                                </button>
                            </div>
                        </form>
                    </div>
                    <div id="new-edit-review">

                    </div>
                    

                    <!-- Display all reviews -->
                    {% for review in reviews %}
                        {% if recipe._id == review.recipe_id %}
                            <!-- Edit an existing review form (only displayed when a user click the edit button of their own comment)-->
                            {% if session.user %}
                                {% if recipe.total_reviews > 0 %}
                                    <!-- Edit a review (only displayed when the users click the button to edit their review)-->
                                    <div id="edit-review" class="d-none" data-id="{{ review._id }}">
                                        <form class="row" method="POST" action="{{ url_for('edit_review', review_id=review._id) }}">  
                                            <div class="col-12">
                                                <textarea class="form-control" id="edit_review" name="edit_review" rows="4" 
                                                    minlength="5" maxlength="500" required>
                                                    {{- review.review_text -}}
                                                </textarea>
                                            </div>
                                            <!-- Buttons -->
                                            <div class="d-flex align-items-center justify-content-end my-2">
                                                <a href="{{ url_for('get_single_recipe', recipe_id=recipe._id) }}" role="button" 
                                                    class="btn btn-rec-secondary btn-rounded btn-sm me-2">
                                                    Cancel
                                                </a>
                                                <button type="submit" class="btn btn-rec-primary btn-rounded btn-sm">
                                                    Submit Review
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                {% endif %}
                            {% endif %}
 
                            <div>
                                <div class="d-flex justify-content-start align-items-baseline">
                                    <div class="profile-img">
                                        <img src="{{ review.user_image }}" alt="profile-picture" 
                                            onerror="this.src='../../static/images/user.png';">
                                    </div>
                                    <p class="ms-3">
                                        <strong>{{ review.username }}</strong>
                                    </p>
                                    <!-- Edit & Delete dropdown button only available if the logged in user owns the review -->
                                    {% if session.user|lower == review.username|lower %}
                                        <div class="ms-auto dropstart">
                                            <button type="button" class="btn-edit-delete" data-mdb-toggle="dropdown" aria-expanded="false">
                                                <i class="fas fa-ellipsis-v"></i>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a class="dropdown-item btn-edit-review" data-id="{{ review._id }}">
                                                        <i class="fas fa-edit"></i> Edit
                                                    </a>
                                                </li>
                                                <li>
                                                    <a data-mdb-toggle="modal" data-mdb-target="#modalDeleteReview{{ review._id }}" role="button" 
                                                        class="dropdown-item">
                                                        <i class="fas fa-trash-alt"></i> Delete
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    {% endif %}
                                </div>
                                <p>{{ review.review_text }} {{ review._id }}</p>
                            </div>

                            <!-- Modal confirmation before deleting review-->
                            <div class="modal fade" id="modalDeleteReview{{ review._id }}" data-mdb-backdrop="static" data-mdb-keyboard="false" 
                                tabindex="-1" aria-labelledby="modalDeleteReviewLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content bg-green">
                                        <button type="button" class="btn-close btn-close-white" data-mdb-dismiss="modal" aria-label="Close"></button>
                                        <div class="modal-header text-white d-flex flex-column justify-content-center align-items-center">
                                            <i class="fas fa-trash-alt fa-5x py-3"></i>
                                            <h4 class="modal-title text-center" id="modalDeleteReviewLabel">
                                                Are you sure you want to delete this review? {{ review._id }}
                                            </h4>
                                        </div>
                                        <div class="modal-footer d-flex justify-content-center">
                                            <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
                                                <i class="far fa-window-close"></i> Cancel
                                            </button>
                                            <a class="btn btn-secondary" href="{{ url_for('delete_review', review_id=review._id) }}">
                                                <i class="fas fa-trash-alt"></i> Yes, Delete
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End of Modal -->
                            
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}