{% extends "base.html" %}
{% block content %}
<section>
    <div class="w-100 background">
        <div class="overlay py-5">
            <div class="container">
                <!-- flash messages -->
                {% with messages = get_flashed_messages(with_categories=True) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                                <h4>{{ message }}</h4>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                <div class="text-center my-5">
                    <h3>{{ recipe.recipe_name }}</h3>
                    <p>by: {{ recipe.username }}</p>
                </div>
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-sm btn-rec-secondary me-2"><i class="fas fa-share-alt"></i> Share</button>
                    <button type="button" class="btn btn-sm btn-rec-secondary me-2"><i class="fas fa-print"></i> Print</button>
                    <!-- Edit and Delete buttons only available to a user's own recipe-->
                    {% if session.user|lower == recipe.username|lower %}
                        <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" role="button" class="btn btn-sm btn-rec-secondary me-2"><i class="fas fa-edit"></i> Edit</a>
                        <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" role="button" class="btn btn-sm btn-rec-secondary me-2"><i class="fas fa-trash-alt"></i> Delete</a>
                    {% endif %}
                </div>
                <div class="row g-5 g-lg-0 mt-5">
                    <div class="col-12 col-lg-4 d-flex flex-column">
                        <div class="square-image flex-fill">
                            <img src="{{ recipe.recipe_image }}" class="img-fluid" onerror="this.src='../../static/images/dish-placeholder.png';" alt="{{ recipe.recipe_name }}">
                        </div>
                        <div class="row mt-3 px-5">
                            <div class="col-6">
                                <p><i class="fas fa-users"></i> {{ recipe.serving }} person</p>
                                <p><i class="fas fa-clock"></i> {{ recipe.time }} min</p>
                            </div>
                            <div class="col-6">
                                <p><i class="fas fa-tag"></i> {{ recipe.category_name }}</p>
                                <p><i class="fas fa-thumbs-up"></i> {{ recipe.total_likes }}</p>
                            </div>
                        </div>
                        <div class="row d-flex flex-column px-5 btn-action-recipe">
                            <!-- Save Recipe button -->
                            {% if saved_recipe %}
                                <a role="button" href="{{ url_for('save_to_cookbook', recipe_id=recipe._id) }}" class="btn btn-rec-secondary my-2" id="btn-save-recipe"><i class="fas fa-check"></i> Saved to Cookbook</a>
                            {% else %}
                                <a role="button" href="{{ url_for('save_to_cookbook', recipe_id=recipe._id) }}" class="btn btn-rec-secondary my-2" id="btn-save-recipe"><i class="fas fa-plus"></i> Save This Recipe</a>
                            {% endif %}
                            <!-- Like Recipe button -->
                            {% if liked_recipe %}
                                <a role="button" href="{{ url_for('like_recipe', recipe_id=recipe._id) }}" class="btn btn-rec-secondary my-2"><i class="fas fa-thumbs-up"></i> Liked</a> 
                            {% else %}
                                <a role="button" href="{{ url_for('like_recipe', recipe_id=recipe._id) }}" class="btn btn-rec-secondary my-2"><i class="far fa-thumbs-up"></i> Like this recipe</a> 
                            {% endif %}
                            <!-- Write a review button -->
                            <a role="button" class="btn btn-rec-secondary my-2" id="btn-review"><i class="far fa-comment-dots"></i> Write a review</a>
                        </div>
                        
                    </div>
                    <div class="col-12 col-lg-8">
                        <div class="ms-lg-5">
                            <p>{{ recipe.description }}</p>
                        </div>
                        <div class="mt-5 ms-lg-5">
                            <h4 class="mb-2">Ingredients: </h4>
                            {% for ingredient in recipe.ingredients %}
                                <div>
                                    <input class="form-check-input" type="checkbox" value="" aria-label="ingredient" id="checkbox">
                                    <label class="form-check-label d-inline">{{ ingredient }}</label>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="mt-5 ms-lg-5">
                            <h4 class="mb-2">Directions: </h4>
                            {% for direction in recipe.directions %}
                                <div>
                                    <input class="form-check-input" type="checkbox" value="" aria-label="direction">
                                    <label class="form-check-label d-inline">{{ direction }}</label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <!-- Reviews section-->
                <div class="bg-white my-5 p-3 p-md-5">
                    <h4><strong>Reviews ({{ recipe.total_reviews }})</strong></h4>
                    <!-- Write a new review -->
                    <div id="write-review" class="d-none">
                        <form class="row g-3" method="POST" action="{{ url_for('write_review', recipe_id=recipe._id) }}">  
                            <div class="col-12">
                                <textarea class="form-control" id="write_review" name="write_review" rows="4" minlength="5" maxlength="500" placeholder="Write your review here... "></textarea>
                            </div>
                            <!-- Buttons -->
                            <div class="d-flex align-items-center justify-content-end my-2">
                                <a href="" role="button" class="btn btn-rec-secondary btn-rounded btn-sm me-2">Cancel</a>
                                <button type="submit" class="btn btn-rec-primary btn-rounded btn-sm">Submit Review</button>
                            </div>
                        </form>
                    </div>
                    <!-- Display all reviews -->
                    {% for review in reviews %}
                        {% if recipe._id == review.recipe_id %}
                            <div>
                                <div class="d-flex justify-content-start align-items-baseline">
                                    <div class="profile-img">
                                        <img src="{{ review.user_image }}" alt="profile-picture">
                                    </div>
                                    <p class="ms-3"><strong>{{ review.username }}</strong></p>
                                </div>
                                <p>{{ review.review_text }}</p>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}